.App h3 {
  text-align: center;
}
li {
  padding-left: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-cont {
  margin: 20px;
}
.main-card {
  width: 400px;
}

form {
  display: flex;
  justify-content: center;
}
